# Virtual Environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Database temp files
*.db-journal

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE files
.vscode/
.idea/

# Temporary files
*.tmp
*.bak